<%- include(`header`) %>

<div class="showbox">
    <h1> <%= aytem.name %> </h1>

    <h3> $<%= aytem.price %> </h3>

    <p> <%= aytem.description %> </p>

    <form action='/mycart' method="POST">
        <input type="hidden" value="<%=aytem._id%>" name="itemid">
        <button type="submit" class="tryagain3"> Add to cart </button>
    </form>
</div>

<%- include(`footer`) %>